
  .circular-container {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: center center / cover rgb(248, 234, 208);
    margin-right: 10px;
  }
  
  .circular-container img {
    width: 76%;
    height: auto;
    display: block;
    margin-top: 10px;
    margin-left: -1px;
    padding-left: 10px;
  }