
  .circular-container {
    background: #f8ead0;
    border-radius: 50%;
    display: flex;
    height: 35px;
    margin-right: 10px;
    padding: 8px;
    width: 35px;
    justify-content: center;
    align-items: center;
  }
  
 